@media (min-width: 900px) {
	#contenido{
		max-width: 900px;
	}
 	header#Cabecera {
	 	flex-wrap: nowrap;
	 	padding: 0 2vw;

 	}
	nav#Menu>ul>li{
		font-size: 1.2em;
	}
	footer>section{
		max-width: 20%;

	}
	#secundarias>article{
		width: 40%;
	}
	.galeria>figure{
		width: 30%;
	}
}