@media (max-width: 899px) {
	#contenido{
		width: 100%
	}
	header#Cabecera {
		justify-content:center;
		text-align: center;
	}
	nav#Menu, #Cabecera>h1{
		width: 100%
	}
	nav#Menu>ul>li{
		font-size: 1.0em;
	}

	footer>section{
	width: 100%;
	text-align:center;

	}
	#secundarias>article{
		width: 100%;
	}
	.galeria>figure{
		width: 100%
	}
}