/* Hoja de estilos ára las paginas del Proyecto de evaluacion CSS Y Diseño Web de NExt-U */
@import url('_style_movil.css') (max-width: 899px);
@import url('_style_desktop.css') (min-width: 900px);

/* INDICE 
	1. General
	2. Cabecera - Header
	3. Footer - Pie de Pagina 
	4. Index Page

/***************************
  1. General 
****************************/
/*	-Utiliza la tipografía Dancing Script.-
	-Establece el color de fondo negro #02010a.-
	-Cada imagen tiene un efecto de sombra de 2px con color #02010a.-
	-Crea un div llamado contenido que este centrado y que tenga máximo 900px de ancho para desktop 
	 y ocupará el 100% para móviles.
	-Utiliza media queries para manejar dos tamaños Desktop: con ancho de 900px o más y móvil con 
	 menos de 900px.
	-Las imágenes deben ser responsivas
*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
	font-family: 'Dancing Script', cursive; 
	background-color: #02010a;
	
}
#contenido{
	padding-top:3px;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
img{
	box-shadow: 2px 2px #02010a;
	width: 100%
}
a{
	text-decoration:underline;
	color: inherit;
	text-align:center;
}
figure{
	position: relative;
	text-align:center;
}
figcaption{
	position: absolute;
	bottom: 1em;
	text-align:center;
	width: 100%;
	color: white;

}




/***************************
  2. Cabecera - Header 
****************************/
/*Establece el fondo de color #5b7989.
	-Agrega el Nombre del sitio "Comenzando con la fotografía" ubicado al lado izquierdo, en blanco la 
	 letra debe tener una sombra de 2px de color #02010a.
	-Aplica bordes redondeados en las esquinas superiores a 10px.
	-Desarrolla un menú, para la versión desktop, a la derecha con enlaceas a tres páginas: Inicio, 
	 Paisajes, Retratos. La página actual debe tener estilo sin subrayado.
*/
header#Cabecera {
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: space-between;
	min-height: 10vh;
	color: #FFFFFF;
	margin:0;
	padding-top: 1em;




}
nav#Menu{
	background-color: inherit;
}
nav#Menu> ul {
	list-style: none;
	min-height: 10vh;
	flex-wrap: wrap;
	background-color:inherit;

}

nav#Menu>ul>li{
	display: inline-flex;
	text-align: center;
	align-items: center;
	min-height: 10vh;
	padding: 0.5em .8em;
	background-color:inherit;

}
#Cabecera a{
	color: #fff;
	background-color:inherit;

}

a.active{
	text-decoration: none;
}
h1{
	text-shadow: 2px 2px 4px #02010a;
	background-color:inherit;
}


/***************************
  3. Footer - Pie de Pagina 
****************************/
/* 	Aplica bordes redondeados en las esquinas inferiores a 10px.
	El pie debe estar a cuatro columnas en desktop y una columna en móvil.
	Aplica el color de fondo #C6d5c5. 
*/

footer{
	background-color: #C6d5c5;
	border-radius:  0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: space-between;
	min-height: 10vh;
	margin:0;
	padding: 1em 2vw;
}
footer a{
	color: black;


}

/********************
	4.Indez Page 
********************/
figure{
	display: block;
	margin: 10px auto;
	text-align:center;
}
#central{
	background-color: #82c3a6;
	margin:0;
	border: 1px;
	padding:1em 2vw;
}
#secundarias{
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
	min-height: 10vh;
	margin:0;
	padding: 1em 2vw;
	border: 1px;
}
.paisaje>figure, .retrato>figure{
	-webkit-transition: 0.5s ease-in-out;
 	 transition: .5s ease-in-out;
}
.paisaje:hover>figure{
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari 3-8 */
    transform: rotate(10deg);


}
.retrato:hover>figure{

	transform:translate(20px,-5px);

}